<!DOCTYPE html>
<head>
  <title>Draw diffusion v2</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='dog.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='dog.png') }}" class="icon" />
  <h1>The Artist of Oltorf</h1>
  <h5>Will generate an image for you</h5>
  <h6>If the phrase has been rendered before the cached image will be used, if not it will take around 15 seconds to generate</h6>
  <h5>hit the generate button only once, otherwise you'll most likely submit multiple jobs and run out of memory</h5>
  <form action="/image2" method="post">
    <input type="text" name="drawing" placeholder="Enter a drawing description" required />
    <input type="submit" value="Generate drawing" />
  </form>
  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}
</body>
